@import "tailwindcss";

.chat-logo {
  background-image: url("/src/assets/speech-35342_1920.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chat-girl {
  background-image: url("/src/assets/chat-girl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chat-bg {
  background-image: url("/src/assets/chat-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
